@if (currentWeek !== undefined) {
<div class="weeks h-full justify-stretch flex flex-col overflow-hidden">
    @for (week of [currentWeek, currentWeek + 1]; track week) {
    <div class="flex flex-col h-full week">
        <div
            class="p-4 text-2xl whitespace-nowrap weeknumber w-full bg-gray-100 border-y flex flex-row justify-between">
            <div class="flex flex-col h-full justify-center">
                <span>{{ 'WEEK' | transloco }}: {{ week }}</span>
            </div>
        </div>
        @if (week | daysOfWeek; as daysOfWeek) {
        <div class="flex flex-row w-full h-full divide-x planning">
            @for (day of daysOfWeek; track day) {
            <app-day-column [day]="day" [plannedMeals]="getMealsForDay(day)" [recipes]="recipes"
                (dragOver)="onDragOver($event)" (drop)="onDrop($event)">
            </app-day-column>
            }
        </div>
        }
    </div>
    }
</div>
}