<div class="flex flex-row h-screen w-screen" *ngIf="(recipes$ | async) as recipes">
  <div class="recipes flex flex-col gap-y-3 p-4 overflow-auto">
    <ng-container *ngFor="let recipe of recipes | orderBy:'name' || []; trackByProperty:'id'">
      <ng-container *ngTemplateOutlet="recipeTemplate; context:{ recipe }"></ng-container>
    </ng-container>
  </div>
  <div class="scheduler flex flex-col w-full h-screen px-4 pb-4" *ngIf="(mealplan$ | async) as mealPlan">
    <div class="info flex flex-row w-full items-center">
      <div class="weeknumber p-4 text-2xl whitespace-nowrap">
        Woche: {{ currentWeek }}
      </div>
      <div class="controls flex flex-row gap-1 p-4 w-full justify-end">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded h-10"
          (click)="changeWeek(1)">Previous</button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded h-10"
          (click)="resetWeek()">Today</button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded h-10"
          (click)="changeWeek(-1)">Next</button>
      </div>
    </div>


    <div class="planning flex flex-row h-full w-full ml-4 divide-x" *ngIf="currentWeek | daysOfWeek as daysOfWeek">
      <div class="day w-1/7" *ngFor="let day of daysOfWeek" [ngClass]="{
        'bg-green-200': day | isToday,
        'bg-gray-100': day | isWeekend 
      }">
        <!-- Kopfzeile für jeden Tag -->
        <div class="days-header border-b flex flex-col w-full p-4 text-center ">
          <div class="font-bold w-full">{{ day | date:'EEEE' }}</div>
          {{ day | date:'longDate'}}
        </div>

        <!-- Inhaltsbereich für jeden Tag -->
        <div id class="meals flex flex-row w-full divide-x p-4" cdkDropList [id]="day.toISOString()">
          <!-- Hier können weitere Inhalte für jeden Tag hinzugefügt werden -->
          <div
            *ngFor="let plannedMeal of (mealPlan | pickObjectByValue:'day':(day | date:'yyyy-MM-dd')); trackByProperty:'id'">
            <ng-container *ngIf="plannedMeal.recipe_id | getRecipe:recipes as recipe">
              <ng-container *ngTemplateOutlet="recipeTemplate; context: { recipe }"></ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #recipeTemplate let-recipe="recipe">
  <div class="recipe border max-w-sm rounded shadow-lg cursor-grab bg-white active:border-red" cdkDrag>
    <img class="w-full" *ngIf="recipe.picture_file_name"
      [src]="(('recipepictures' | grocyImage:recipe.picture_file_name) | async)" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      <div class="text-xl">{{ recipe.name }}</div>
    </div>
  </div>
</ng-template>