@if (isAppConfigured$ | async) {
@if ((recipes$ | async); as recipes) {
<div class="flex flex-col md:flex-row w-screen h-screen cursor-default overflow-hidden">
  <div class="hidden md:flex flex-col p-4 gap-y-4 recipes md:w-[15%] border-r min-h-0 overflow-hidden">
    <app-recipe-sidebar [recipes]="recipes" [recipeSearch]="recipeSearch" (recipeSearchChange)="recipeSearch = $event"
      (refreshRecipes)="onRefreshRecipes()">
    </app-recipe-sidebar>
  </div>
  @if ((mealPlan$ | async); as mealPlan) {
  <div class="flex flex-col flex-1 h-full scheduler overflow-hidden min-w-0">
    <app-scheduler [currentWeekStart]="currentWeekStart" [currentWeek]="currentWeek"
      [selectedMealPlanSection]="selectedMealPlanSection" [mealPlanSections]="(mealPlanSections$ | async)"
      [mealPlan]="mealPlan" [recipes]="recipes" [grocyInfo]="(grocyInfo$ | async)"
      (sectionChange)="selectSection($event)" (weekChange)="changeWeek($event)" (resetConfig)="resetConfig()"
      (dragOver)="onDragover($event.event, $event.day)" (drop)="onDrop($event.event, $event.day)"
      (addRecipe)="onAddRecipe($event)"
      (refreshRecipes)="onRefreshRecipes()">
    </app-scheduler>
  </div>
  }
</div>
}
} @else {
<app-grocy-config></app-grocy-config>
}