<div
  [class]="meal?.userfields?.ai_planned == '1' ? 'p-0.5 bg-gradient-to-r from-purple-500 to-blue-500 rounded-lg shadow-lg' : 'border border-gray-200 rounded-lg shadow-lg hover:border-blue-400 hover:bg-blue-200'">
  @if (recipe) {
  <div class="max-w-sm bg-white rounded-lg overflow-hidden group recipe" [class.opacity-50]="meal?.done"
    [class.line-through]="meal?.done" [dndDraggable]="{ recipe, meal }"
    [dndEffectAllowed]="$any(draggable.effectAllowed)" [dndDisableIf]="draggable.disable">
    @if (recipe.picture_file_name) {
    <div class="relative">
      <img class="w-full aspect-video object-cover"
        [src]="(('recipepictures' | grocyImage:recipe.picture_file_name) | async)" alt="Sunset in the mountains">
      @if (meal?.userfields?.ai_planned == '1') {
      <div
        class="flex-row absolute top-2 right-2 bg-gradient-to-r from-purple-500/80 to-blue-500/80 backdrop-blur-sm text-white rounded-xl w-8 h-8 shadow-lg flex items-center justify-center border border-white/20">
        <mat-icon class="!text-lg !leading-none !w-6 !h-6 flex items-center justify-center">auto_awesome</mat-icon>
      </div>
      }
    </div>
    }
    <div class="px-6 py-4 w-full flex" [class.flex-col]="meal" [class.flex-row]="!meal">
      <div class="overflow-hidden w-full text-ellipsis">{{ recipe.name }}</div>
      <div class="recipe-controls hidden flex-row group-hover:flex justify-between" [class.mt-4]="meal">
        @if (meal && meal.done == 0) {
        <mat-icon class="text-green-400 cursor-pointer" svgIcon="check" (click)="doneMeal(meal)"></mat-icon>
        }
        @if (meal && meal.done == 0) {
        <mat-icon class="text-red-400 cursor-pointer" svgIcon="delete-outline" (click)="deleteMeal(meal)"></mat-icon>
        }
        <mat-icon class="cursor-pointer" svgIcon="open-in-app"
          (click)="openRecipe(meal ? meal.recipe_id : recipe.id)"></mat-icon>
        <mat-icon dndHandle svgIcon="drag" class="cursor-grab"></mat-icon>
      </div>
    </div>
  </div>
  }