<div class="day flex-1 hover:bg-stone-50 overflow-hidden flex flex-col w-1/7" [ngClass]="{
    'bg-green-50': day | isToday,
    'bg-red-50': (day | isWeekend) && !(day | isToday),
    'bg-gray-100': !(day | isWeekend) && !(day | isToday)
  }">
  <div class="flex flex-col p-4 w-full text-center border-b days-header" [ngClass]="{
      'text-green-600': day | isToday,
      'text-red-600': (day | isWeekend) && !(day | isToday)
    }">
    <div class="w-full font-bold">{{ day | date:'EEEE' }}</div>
    {{ day | date:'d. MMM yyyy'}}
  </div>
  <div class="flex flex-col gap-y-2 p-4 w-full meals flex-1 overflow-auto" [id]="day.toISOString()">
    @for (plannedMeal of plannedMeals; track plannedMeal.id) {
    <div>
      @if (plannedMeal.recipe_id && (plannedMeal.recipe_id | getRecipe:recipes); as recipe) {
      <app-grocy-recipe-card [recipe]="recipe" [meal]="plannedMeal"></app-grocy-recipe-card>
      }
    </div>
    }
    <div class="dropzone h-full min-h-32" dndDropzone (dndDragover)="onDragover($event)" (dndDrop)="onDrop($event)">
    </div>
  </div>
</div>